.button-green-filled {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 36px;
    outline: none;
    
    color: var(--iskra-color-on-primary-container);
    fill: var(--iskra-color-on-primary-container);
    background: var(--iskra-color-primary-container);

    transition: all 0.4s;
}

.button-green-filled:hover {
    border-radius: 8px;
    cursor: pointer;
}

.button-green-tonal {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 36px;
    outline: none;
    
    color: var(--iskra-color-on-primary-container);
    fill: var(--iskra-color-on-primary-container);
    background: var(--iskra-color-surface-variant);

    transition: all 0.4s;
}

.button-green-tonal:hover {
    border-radius: 8px;
    cursor: pointer;
}

.button-green-outline {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 36px;
    outline: none;
    
    color: var(--iskra-color-on-primary-container);
    fill:  var(--iskra-color-on-primary-container);
    outline: solid var(--iskra-color-outline) 1px;

    transition: all 0.4s;
}

.button-green-outline:hover {
    background: var(--iskra-color-primary-container);
    border-radius: 8px;
    cursor: pointer;
}

.button-icon {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 8px;
    border-radius: 9999px;

    transition: all 0.4s;

    fill: var(--iskra-color-on-surface);
    background: var(--iskra-color-surface);
    border: solid var(--iskra-color-outline) 1px;
}

.button-icon:hover {
    background: var(--iskra-color-outline);
    fill: var(--iskra-color-surface);
    cursor: pointer;
}

.button-pink-filled {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 36px;
    outline: none;
    
    color: var(--iskra-color-on-secondary-container);
    fill: var(--iskra-color-on-secondary-container);
    background: var(--iskra-color-secondary-container);
    transition: all 0.4s;
}

.button-pink-filled:hover {
    border-radius: 8px;
    cursor: pointer;
}

.button-pink-outline {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 36px;
    outline: none;
    
    color: var(--iskra-color-on-secondary-container);
    fill:  var(--iskra-color-on-secondary-container);
    outline: solid var(--iskra-color-outline) 1px;

    transition: all 0.4s;
}

.button-pink-outline:hover {
    background: var(--iskra-color-secondary-container);
    border-radius: 8px;
    cursor: pointer;
}