.form {
    height: auto;
    border-radius: 20px;
    padding: 16px;

    background: var(--iskra-surface-variant);
    fill: var(--iskra-on-primary-container);
    color: var(--iskra-on-primary-container);
}

.form .text-input {
    border-radius: 16px;
    padding: 16px;

    transition: all 0.2s;
}

.form .text-input input {
    background: transparent;
}

.form .text-input input::placeholder {
    color: var(--iskra-on-primary-container);
}

.form .text-input input:focus {
    outline: none;
}

.form .text-input:focus-within {
    background: var(--iskra-primary-transparent);
}

.form input[type=submit] {
    padding: 8px 16px;
    border-radius: 20px;

    color: var(--iskra-on-primary-container);
    background: var(--iskra-primary-container);

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    transition: all 0.2s;
}

.form input[type=submit]:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
}