.text-input {
    border-radius: 8px;
    padding: 8px 16px;

    outline: solid var(--iskra-primary-transparent);
    outline-width: 1px;

    background: transparent;

    transition: all 0.2s;
}

.text-input::placeholder {
    color: var(--iskra-on-primary-container);
}

.text-input:focus {
    background: var(--iskra-primary-transparent);
}