.link {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 20px;
    outline: none;
    
    color: var(--iskra-on-primary-container);
    background: var(--iskra-primary-container);

    transition: all 0.2s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.link:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.link-pink {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 20px;
    
    color: var(--iskra-on-secondary-container);
    background: var(--iskra-secondary-container);

    transition: all 0.2s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.link-pink:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.link-pink-variant {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 20px;
    
    color: var(--iskra-secondary-container);
    fill: var(--iskra-secondary-container);
    background: var(--iskra-on-secondary-container);

    transition: all 0.2s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.link-pink-variant:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.link-round {
    display: flex;
    padding: 8px;
    border-radius: 9999px;

    transition: all 0.2s;

    color: var(--iskra-on-secondary-container);
    fill: var(--iskra-on-secondary-container);
}

.link-round:hover {
    background: var(--iskra-secondary-transparent);
    cursor: pointer;
}

.outline {
    outline: solid var(--iskra-on-secondary-container);
    outline-width: 1px;
}

.outline:hover {
    background: var(--iskra-on-secondary-container);
    fill: var(--iskra-secondary-container);
}