html,body, #__nuxt, #__layout {
    height:100% !important;
    width: 100% !important;
}

body {
    background: var(--iskra-color-background);
    color: var(--iskra-color-on-background);
    fill: var(--iskra-color-on-background);
    
    font-family: Rubik;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

a:hover {
    cursor: pointer;
}