#nav {
    padding: 16px;
}

/*
#nav :first-child {
    margin-bottom: 16px;
}

#nav > :not(:first-child) {
    margin-top: 16px;
}

#nav li {
    transition: all 0.2s;
}
*/
#nav-logo {
    padding: 8px;
    margin: 0 auto;
    border-radius: 100%;

}

#nav-logo:hover {
    background: radial-gradient(#FFD9E2 12px, transparent 32px);
}

.nav-chip {
    color: #0C0C0B;
    border-radius: 16px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: large;
}

.nav-chip:hover {
    background: #FFD9E2;
}