.navigation {
    width: min-content;
    border-radius: 16px;
    padding: 8px;
    margin: 8px;

    transition: all 0.2s;

    background: var(--iskra-primary-container);
}

.navigation li a {
    display: flex;
    padding: 16px;
    margin: 2px 0;
    border-radius: 16px;

    transition: all 0.2s;

    color: var(--iskra-on-primary-container);
    fill: var(--iskra-on-primary-container);
}

.navigation li a:hover {
    background: var(--iskra-primary-transparent);
    cursor: pointer;
}