.question-card {
    width: 700px;
    min-width: 400px;
    border-radius: 16px;
    padding: 20px;
    transition: all 0.2s;

    background: var(--iskra-surface-variant);
    color: var(--iskra-on-surface-variant);
}

.question-card img{
    border-radius: 100%;
    height: 48px;
    width: 48px;
}

.question-card .content {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.question-card div .author {
    font-weight: bold;
    font-size: large;

    transition: all 0.2s;
}

.question-card div .author:hover {
    text-decoration: underline;
}