.search {
    border-radius: 9999px;
    display: flex;
    padding: 4px;
    transition: all 0.2s;
    width: 50%;
    min-width: 400px;

    outline: solid var(--iskra-color-outline) 1px;
    color: var(--iskra-color-on-surface-variant);
    fill:  var(--iskra-color-on-surface-variant);
}

.search input::placeholder {
    color: var(--iskra-color-on-surface-variant);
}

.search input {
    width: 100%;
    display: block;
    padding: 0 20px;
    border-radius: 9999px;
    background: transparent;
    transition: all 0.2s;
}

.search input:focus {
    outline: none;
    background: var(--iskra-color-surface-variant);
}

.search .icon{
    padding: 8px;
    border-radius: 9999px;

    transition: all 0.2s;
}

.search .icon:hover{
    background: var(--iskra-color-surface-variant);
    cursor: pointer;
}