table {
    width: 100%;
    font-size: large;
}

table thead {
    font-weight: bold;
}

table tbody tr td, table thead td {
    text-align: start;
    padding: 8px 16px;
}

table tbody tr {
    transition: all 0.2s;
}

table tbody tr:hover {
    border-radius: 16px;
    background: var(--iskra-green);
}